
<%- include("partials/header") %>

<div class="ui main text container segment   ">
    <div class="ui huge header">RESTful Blog App</div>
    <div class="ui top attached segment ">
        <div class="ui divided items">

            <% for(var i = 0 ; i < blogs.length ; i++) { %>
                <div class="item">
                    <div class="image">
                        <img src="<%= blogs[i].image %>">
                    </div>
                    <div class="content">
                        <a class="ui header" href="/blogs/<%= blogs[i]._id %>"> <%= blogs[i].title %> </a>
                        <div class="meta">
                            <p id="date"> <strong> <%= blogs[i].created.toDateString() %> </strong></p>
                        </div>
                        <div class="description">
                            <p> <%- blogs[i].body.substring(0, 100) %>... </p>
                        </div>
                        <div class="extra">
                            <a href="/blogs/<%= blogs[i]._id %>" class="ui blue floated basic button">
                                Read more
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }; %>

        </div>
    </div>

</div>

<%- include("partials/footer") %>

