<%- include("partials/header") %>
<div class="ui main text container segment   ">



    <% for(var i = 0 ; i < blogs.length ; i++) { %>
        <div >
            <h2> <%= blogs[i].title %> </h2>
            <img class="ui fluid image" src="<%= blogs[i].image %>">
            <p id="date"> <strong> <%= blogs[i].created.toDateString() %> </strong></p>
            <p> <%= blogs[i].body.substring(0, 200) %>... </p>
            <a href="/blogs/<%= blogs[i]._id %>" class="ui blue basic button" type="submit">Read more</a>
            <% if(i < blogs.length - 1){ %>
                <div class="ui  divider"></div>
            <% } %>
        </div>
    <% }; %>
</div>

<%- include("partials/footer") %>